.home-div {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
    border-color: rgb(229 229 229);

    @media (min-width: 768px) {
        margin-left: 6rem;
        margin-right: 6rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex-direction: row;
    }
}